{% extends "studio/base.html" %}
{% block content %}
<h2>{{ application.title }}</h2>
<p>Пользователь: {{ application.user.username }}</p>
<p>Категория: {{ application.category.name }}</p>
<p>Дата: {{ application.created }}</p>
<p>Статус: {{ application.get_status_display }}</p>
<p>Описание: {{ application.description }}</p>

{% if application.image %}
  <img src="{{ application.image.url }}" alt="Image" style="max-width:300px;">
{% endif %}

{% if application.design_image %}
  <h4>Изображение результата:</h4>
  <img src="{{ application.design_image.url }}" alt="Design image" style="max-width:300px;">
{% endif %}

{% if user.is_staff or user.is_superuser %}
  <hr>
  <a href="{% url 'studio:change_status_in_progress' application.pk %}">Принять в работу</a> |
  <a href="{% url 'studio:change_status_done' application.pk %}">Отметить как выполнено</a>
{% endif %}

{% if user == application.user %}
  <a href="{% url 'studio:edit_application' application.pk %}">Редактировать</a>
  {% if application.can_user_delete %}
    <a href="{% url 'studio:delete_application' application.pk %}">Удалить</a>
  {% endif %}
{% endif %}
{% endblock %}
